<div class="container text-center">
  <% today_string = Date.today.strftime("%b %d,%Y") %>
  <h1>Today we are <%= today_string %></h1>

  <ul class="list-unstyled">
    <% %w(ERB Middleman SCSS).each do |tech| %>
      <li>We are playing with <%= tech %></li>
    <% end %>
  </ul>

  <%= link_to "CLICK HERE", "cities.html", class: "btn btn-primary" %>
</div>
